
.row .col{
    margin-top: 80px;
}
.homeimg{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 5px;
    width: 250px;
    height: 200px;
    
}

.homemain{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.home{
    width: 400px;
    margin-top: 20px;
}

.homeimg div img{
    border-radius: 10px;
    gap: 10px;
    justify-content: space-between;
    
}

#img1{
  width: 300px;
  height: 300px;
  position: absolute;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 1;
  gap: 5px;
  border-radius: 30px;
}

#img2{
  width: 190px;
  height: 190px;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 60px;
  margin-left: 250px;
  z-index: 2;
  gap: 5px;
  border-radius: 30px;
}

#img3{
  width: 150px;
  height: 190px;
  position: absolute;
  margin-top: 150px;
  margin-bottom: 80px;
  margin-left: 200px;
  z-index: 3;
  gap: 5px;
  border-radius: 30px;
}

.travel1,.travel2,.travel3{
    border-radius: 30px;
}

.btns{
  margin-left: 140px;
}

.maincard .card img{
  border-radius: 30px;
  box-shadow: 5px 5px 3px;
}

.maincard .card{
  border-radius: 30px;
}

#feedback{
  padding: 10px;
  
} 

.pic img{
  margin-top: -30px;
  margin-left: 100px;
  border-radius: 50px;
}

#icon{
  letter-spacing: 10px;
}

/* chatgpt
img {
  max-width: 100%;
  height: auto;
}

.homeimg, .zindex, .maincard, .pic {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.btns button {
  margin-bottom: 10px;
  width: 100%;
}

.maincard, .container-fluid.d-flex {
  flex-wrap: wrap;
} */

/* @media (max-width: 768px) {
  .btns button {
    width: 100%;
    margin-bottom: 10px;
  }
  .home, .about, .end, .footer {
    text-align: center;
  }
} */

